body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #fff;

  background-image: url("images/fundo.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


.container {
  max-width: 600px;
  margin: auto;
  padding: 40px 20px;
  text-align: center;

  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 12px;
}


.info {
  color: #ccc;
  margin-bottom: 40px;
}

.ticket {
  border: 1px solid #333;
  padding: 20px;
  margin-bottom: 30px;
}

.price {
  font-size: 22px;
  margin: 10px 0;
}

.buy-button {
  display: inline-block;
  padding: 15px 30px;
  background-color: #e50914;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.buy-button:hover {
  background-color: #ff1f1f;
}

.footer {
  margin-top: 40px;
  font-size: 14px;
  color: #aaa;
}

.event-image {
  width: 100%;
  max-width: 500px;
  margin: 0 auto 30px;
  display: block;
  border-radius: 10px;
}
